
h3{
    text-align: center;
    line-height: 10px ;
 }
.primary-color{
    background-color: red;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    }
.secondary-color{
    background-color: purple;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    top: 170px
}
.complementary-color{
    background-color: orange;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    top: 226px;
}
.dark-color{
    background-color: black;
    color: orange;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    top: 332px;
}
.clear-color{
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    top: 388px;
}
div{
    width: 200px;
    height: 50px;
    margin: 10px;
    position: absolute;
}
div:hover{
    border: 3px solid black;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
.complementary-color:hover{
    border: 3px solid black;
    width: 200px;
    height: 100px;
    border-radius: 20px;
}
.complementary-color2{
    line-height: 63px;
}
.dark-color:hover{
    border-color: orange;
}
.primary-color, .complementary-color, .clear-color{
    font-style: italic;
}
/* .primary-color:hover{
    background-color: red;
    border: 3px solid black;
    border-radius: 20px;
}

.secondary-color:hover{
    background-color: purple;
    width: 200px;
    height: 50px;
    border: 5px solid black;
}

.complementary-color:hover{
    background-color: orange;
    width: 200px;
    height: 50px;
    border: 5px solid black;
}

.dark-color:hover {
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    border: 5px solid orange;
}

.clear-color:hover {
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    border: 2px solid black;
} */